@use "../util" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.rating__numbers-container.selected {
  background-color: var(--orange);
  color: var(--white);

  &:hover {
    background-color: var(--orange);
  }
}
