:root {
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(217, 12%, 63%);
  --mediumgrey: hsl(216, 12%, 54%);
  --darkblue: hsl(213, 19%, 18%);
  --verydarkblue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);

  --card-bg-top: hsl(215, 19%, 18%);
  --card-bg-bottom: hsl(215, 27%, 12%);
  --bgs-inside-card: hsl(210, 19%, 18%);
}
